* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url() ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    font-family: 'Roboto', sans-serif;
    /* width: 75%; */
    
}

h3 {
    text-align: center;
    margin-top: 25px;
}

p {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    /* font-weight: bold; */
}

.card i {
    justify-content: center;
    align-items: center;
    margin-left: 170px;
    font-size: 25px;
    margin-top: 10px;
    color: blue;
}

.card h6 {
    text-align: center;
    font-family: sans-serif;
}
.card p{
    font-family: sans-serif;
}


.container {
    margin-left: 290px;
    margin-bottom: 10px;
}