<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Gallery</title>
  <link rel="stylesheet" href="gallery.css ">
</head>
<body>
  <div class="gallery">
    <div class="card">
      
      <video controls>
        
        <video width="300" height="200" controls="false" autoplay="autoplay">
          <source src="video/supercoolvideo.mp4" type="video/mp4" />
          </video> 
          


        <source src="" type="video/mp4">
    
        Your browser does not support the video tag.
      </video>
      <h3>Washing machine</h3>
      <p>A washing machine (laundry machine, clothes washer, washer, or simply wash) is a machine designed to launder clothing. Modern-day home appliances use electric power to automatically clean clothes.</p>
    </div>
    <div class="card">
      <video controls>
        <source src="video2.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <h3>Refrigenetor</h3>
      <p>A refrigerator, commonly fridge, is a commercial and home appliance consisting of a thermally insulated compartment and a heat pump (mechanical, electronic or chemical)</p>
    </div>
    <div class="card">
      <video controls>
        <source src="video3.mp4" type="">
        Your browser does not support the video tag.
      </video>
      <h3>Electrician</h3>
      <p>An electrician is a skilled professional who:
        Installs, maintains, and repairs electrical systems in buildings and structures</p>
    </div>
    <div class="card">
      <video controls>
        <source src="video4.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <h3>Labour</h3>
      <p>Labor is the amount of physical, mental, and social effort used to produce goods and services in an economy.</p>
    </div>
  </div>
</body>
</html>
