<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Cards</title>
    <link rel="stylesheet" href="Service.css">
</head>
<body>
    <div class="card-container">
        <div class="card"  onclick="navigateToCategory('washing')">
            <img src="https://t3.ftcdn.net/jpg/08/83/47/80/360_F_883478070_tfmnnU1KyY3nrgOl9vgcKwJwPk9L4Ta0.jpg" alt="Card Image 1">
            <h3>Washing Machine Repair</h3>
            
        </div>

        <div class="card" onclick="navigateToCategory('fridge')">
            <img src="https://5.imimg.com/data5/QZ/KH/YQ/SELLER-8147187/whatsapp-image-2019-09-02-at-1-36-03-pm-500x500.jpeg" alt="Card Image 2">
            <h3>Fridge Repair</h3>

        </div>

        <div class="card" onclick="navigateToCategory('electrician')">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/024/083/985/small_2x/electrician-engineer-checking-electric-current-voltage-at-circuit-breaker-and-cable-wiring-system-concept-of-electrical-maintenance-service-generative-ai-photo.jpg" alt="Card Image 3">
            <h3>Electrician</h3>

        </div>

        <div class="card" onclick="navigateToCategory('labour')">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMOytldh3eXaItCI-Zo5ZROihsI4PHwZ_ctw&s" alt="Card Image 4">
            <h3>Labour</h3>

        </div>
    </div>

    <script src="Service.js"></script>
</body>
</html>
