*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url("https://th.bing.com/th/id/OIP.5W32QPJW8xnq1gZK-806xQHaEo?rs=1&pid=ImgDetMain");
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;

}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content-section title {
    text-transform: uppercase;
    font-size: 10px;
}
.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 7px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5;
}
.content-section .content .button a:hover{

    background-color: #7a7777;
    color: #fff;
}
.content-section .social{
    margin-top: 40px;


}
.content-section .social i{
    color: #525050;
    font-size: 30px;padding: 10px;
}
.content-section .social i:hover{
    color: #cca9a9;
}